<div class="container">

  <input #FechaInicial  id="fechaInicial" type="date">
  <label for="fechaInicial">Fecha inicial</label>
  <br>
  <input #FechaFinal  id="fechaFinal" type="date">
  <label for="fechaFinal">Fecha final</label>
  <br>
  <button class="btn" (click)="buscar(FechaInicial, FechaFinal)">Buscar</button>


  <ul class="collection">
    <li class="collection-item" >
      <strong class="green-text">Fecha de venta: </strong>{{reporte.fechaCompraPedido}}<br>
      <strong class="green-text">Cliente: </strong>{{reporte.cedulaCliente}}<br>
      <strong class="green-text">precio: </strong>{{reporte.}}<br>
    </li>
  </ul>
</div>

